.about-box__top-position {
  padding-top: 134px;
  padding-bottom: 19px;
}

.about-box__position {
  padding-top: 20px;
}

.about-box {
  padding-bottom: 101px;
}

@media (min-width: @desktop) {
  .about-box {
    display: flex;
    padding-top: 90px;
    padding-left: 13px;
  }

  .about-box__top-position {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .about-box {
    padding-bottom: 0;
  }

  .about-box__position {
    padding-top: 15px;
  }

}
