.advantages {
  background-color: @top-color;
  padding-bottom: 9px;
}

.advantages__list-protection {
  .site-rezet ()
}

.advantages__list-element {
  display: none;
}

.advantages__hedline {
  text-align: center;
  margin-bottom: 16px;
}

.advantages__box {
  padding-top: 22px;
}

.advantages__box:last-child {
  padding-top: 20px;
}

.advantages__list-item {
  position: relative;
  color: @text-color;
  font-size: 18px;
  padding-left: 10px;
  line-height: 29px;
}

.advantages__img {
  margin-bottom: 8px;
}

.advantages__list-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
  top: 13px;
}

@media (min-width: @tablet) {
  .advantages__img {
    width: 500px;
    height: 500px;
    margin-bottom: 18px;
  }
  .advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;

  }

  .advantages__hedline {
    text-align: center;
    margin-bottom: 52px;
  }
  .advantages__list-protection {
    width: 500px;
  }

  .advantages__list-element {
    display: inline;
    font-size: 20px;
  }
  .advantages__list-item {
    font-size: 20px;
    padding-left: 13px;
    line-height: 30px;
  }
  .advantages__list-br{
    display:none;
  }
  .advantages__box {
  padding-top: 45px;
  }
  .advantages {
    background-color: @top-color;
    padding-bottom: 38px;
  }

}

@media (min-width: @desktop) {
  .advantages__list-element {
    display: inline;
    font-size: 22px;
  }

  .advantages__list-item {
    position: relative;
    color: @text-color;
    font-size: 22px;
    padding-left: 10px;
    line-height: 30px;
  }

  .advantages__wrapper {
    display: flex;
    justify-content: space-between;

  }
  .advantages__img {
    width: 279px;
    height: 279px;
    margin-bottom: 32px;
  }

  .advantages__hedline {
    text-align: left;
    margin-bottom: 42px;
  }

  .advantages__list-protection {
    width: 364px;

  }

  .advantages {
    padding-top: 35px;
    padding-bottom: 26px;
  }
  .advantages__list-protection--mod {
    width: 284px;
  }

  .advantages__box:nth-child(1) {
    margin-left: 8px;
    margin-right: 75px;
  }

  .advantages__box--margin {
    margin-right: 80px;
  }

  .advantages__box--mod{
    width: 364px;

  }
  .advantages__list-element--mod {
    font-size: 18px;
  }


}
