.comparison__box {
  padding-top: 24px;

}
.comparison__box-right {
  padding-top: 26px;
}
.comparison__heading-internal {
  color: @top-color;
  text-align: center;
  margin-bottom: 16px;

}
.comparison {
  margin-bottom: 25px;
}
