.information__list {
  .site-rezet ();
  margin-top: 21px;
  margin-bottom: 23px;
}

.information__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.information__item {
  margin-bottom: 12px;
}
