.partners {
  margin-bottom: 3px;
}
.partners__list {
  .site-rezet ();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 23px;
}
.partners__item {
  margin-right: 20px;
  margin-bottom: 15px;
}
.partners__item:nth-child(3) {
  margin-right: 0px;
}
.partners__item:nth-child(6) {
  margin-right: 0px;
}
.partners__item:nth-child(9) {
  margin-right: 0px;
}
.partners__item:nth-child(7) {
  margin-bottom: 22px;
  margin-right: 25px;
}
.partners__item:nth-child(4) {
  margin-right: 26px;
}
.partners__item:nth-child(11) {
  margin-right: 0px;
  margin-top: -8px;
}
.partners__item:nth-child(13) {
  width: 50px;
  margin-right: -80px;
  margin-top: -40px;

}
.partners__item:nth-child(10) {
  margin-right: 20px;
}
.partners__item-drago-icon {
  margin-left: 0px;
}
@media (min-width: @desktop) {
  .partners__huobi-icon {
    width: 100px;
    height: 130px;
  }

  .partners__bitfinex-icon {
    width: 110px;
    height: 130px;
  }

  .partners__binance-icon {
    width: 91px;
    height: 130px;
  }

  .partners__eth-icon {
    width: 110px;
    height: 130px;
  }

  .partners__gemini-icon {
    width: 110px;
    height: 130px;
  }

  .partners__tron-icon {
    width: 139px;
    height: 130px;

  }
  .partners__ibfs-icon {
    width: 110px;
    height: 130px;
  }

  .partners__iota-icon {
    width: 103px;
    height: 130px;
  }

  .partners__genesis-mining-icon {
    width: 84px;
    height: 130px;
  }

  .partners__rbk-icon {
    width: 192px;
    height: 100px;
  }

  .partners__group-ib {
    width: 159px;
    height: 63px;
  }

  .partners__stripes-icon {
    width: 142px;
    height: 130px;
  }

  .partners__kaspersky {
    width: 218px;
    height: 50px;
  }

  .partners__drago-icon {
    width: 146px;
    height: 130px;
  }

  .partners__item {
    margin-right: 66px;
    margin-bottom: 60px;
    width: 100px;
    height: 150px;
  }

  .partners__item:nth-child(3) {
    margin-right: 70px;
  }

  .partners__item:nth-child(6) {
    margin-right: 70px;
  }

  .partners__item:nth-child(9) {
  margin-bottom: 0;
    margin-right: 35px;

  }

  .partners__item:nth-child(7) {
    margin-bottom: 0;
    margin-right: 0;
  }

  .partners__item:nth-child(4) {
    margin-right: 70px;
  }

  .partners__item:nth-child(11) {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .partners__item:nth-child(13) {
    order: 14;
    width: 218px;
    height: 30px;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    top: 50px;
  }
  .partners__item:nth-child(10) {
    order: 13;
    margin-right: 0;
    position: relative;
    right: 50px;
    margin-bottom: 0;
  }
  .partners__item:nth-child(11) {
  order: 14;
  position: absolute;
  left: 1030px;
  bottom: 150px;
  height: 20px;
  margin-bottom: 0;

  }

  .partners__item:nth-child(12) {
    position: relative;
    left: 25px;
    top: -10px;
    order: 13;
    margin-bottom: 0;


  }
  .partners__item:nth-child(14) {
    order: 8;
    margin-right: 0px;
    position: relative;
    right: 70px;
    margin-bottom: 0;

  }
  .partners__item:nth-child(8) {
    margin-right: 35px;
    margin-bottom: 0;
  }
  .partners__list {
    padding-top: 50px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 21px;
  }

}
