.slider__list {
  .site-rezet ();
}

.slider__slide{
  display: none;
}

.slider__controls-item {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 13px;
  background-color: #e5e5e5;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider {
  position: relative;
}

.slider__controls {
  align-items: center;
  position: absolute;
  bottom: -50px;
  width: 190px;
  margin-left: 90px;
  font-size: 0;
}

#product-1:checked ~ .slider__list #slide1,
#product-2:checked ~ .slider__list #slide2,
#product-3:checked ~ .slider__list #slide3 {
  display: block;
}

#product-1:checked ~ .slider__controls .slider__controls-item[for="product-1"],
#product-2:checked ~ .slider__controls .slider__controls-item[for="product-2"],
#product-3:checked ~ .slider__controls .slider__controls-item[for="product-3"] {
  background-color: #d52149;
}
@media (min-width: @tablet) {
  .slider__element {
    width: 648px;
    height: 405px;
  }
  .slider__controls {
    width: 408px;
    margin-left: 300px;
  }
}

@media (min-width: @desktop) {
  .slider__element {
    width: 780px;
    height: 450px;
  }

  .slider__list {
    margin-left: 200px;
  }

  .slider__controls {
    margin-left: 562px;
  }

  .slider__controls-item {
    margin-top: 6px;
  }
}
