.token {
  margin-top: 23px;
  margin-bottom: 16px;
}

.token__schedule-cripto {
  padding-top: 28px;
}

.token__text {
  .text-style ();
  color: @top-color;
  margin-top: 20px;
}
.token__text-mod {
  display: block;
  margin-top: 5px;
}

.token__text-box {
  margin-bottom: 25px;
}
.token__img-pipes {
  margin-top: 15px;
}
.token__info {
  background-color: @top-color;
  padding-bottom: 18px;
  margin-bottom: 132px;
}

.token__info-decor {
  font-family: Oswald;
  text-align: center;
  font-size: 90px;
  line-height: 80%;
  font-weight: 400;
  color: @header-color;
  margin-left: 33px;
}
.token__info-wrapper {
  position: relative;
}

.token__link {
   font-family: 'Oswald', sans-serif;
  position: absolute;
  left: 20px;
  bottom: -108px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  width: 200px;
  font-size: 22px;
  color: #ffffff;
  background-color: @header-color;
  text-align: center;
  padding-left: 10px;
   padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.token__info-text {
  .text-style ();
  color:#ffffff;
  margin-top: 10px;
}
.token__info-box-top {
  padding-top: 20px;
}
.token__info-text-mod {
  margin-top: 5px;
}
.token__info-text-mod--desktop {
  display: block;
  margin-top: 5px;
}
@media (min-width: @tablet) {
  .token  {
    margin-top: 50px;
    margin-bottom: 169px;
  }
  .token__img {
    width: 648px;
    height: 183px;
  }
  .token__img--mod {
    width: 648px;
    height: 256px;
    margin-top: 18px;
  }
  .token__img-pipes {
    display: none;
  }
  .token__text {
    font-size: 20px;
    line-height: 26px;
    margin-top: 34px;
  }
  .token__text-mod {
    display: inline;
    padding-left: 8px;
  }
  .token__schedule-cripto {
  padding-top: 43px;
 }
 .token__text-mod-2 {
  display: block;
  margin-top: 10px;
  padding-left: 0;
 }
 .token__info-decor {
    float:left; /* Выравнивание по левому краю */
    margin-right: 24px;
    margin-top: 18px;
    margin-left: 2px;
    margin-bottom: 20px;

  }
  .token__link {
    left: 175px;
    bottom: 289px;
    width: 300px;
    font-size: 34px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .token__info-box-top {
    padding-top: 30px;
  }

  .token__info-text {
    font-size: 20px;
  }

  .token__info-text-mod--adaptive {
    display: inline;
  }
  .token__info-box-bottom {
    margin-top: 17px;

  }
  .token__info {
  padding-bottom: 70px;
  margin-bottom: 50px;
}
}
@media (min-width: @desktop) {
  .token__img {
    width: 1180px;
    height: 334px;
  }

  .token {
    margin-top: 83px;
    margin-bottom: 65px;
  }

  .token__schedule-cripto {
    padding-top: 72px;
    padding-left: 4px;
    margin-bottom: 67px;
  }

  .token__text {
    font-size: 22px;
    line-height: 29px;
    padding-left: 20px;
  }

  .token__text-mod {
    display: inline;
    padding-left: 8px;
  }

  .token__text--margin {
    display: block;
    padding-left: 0;
  }

  .token__schedule-many {
    display: none;
  }

  .token__img--mod{
    width: 1180px;
    height: 468px;
    padding-left: 5px;
  }

  .token__text-box {
    margin-bottom: 92px;
  }

  .token__info-decor {
    float:left; /* Выравнивание по левому краю */
    margin-right: 24px;
    margin-top: 18px;
    margin-left: 2px;
    margin-bottom: 20px;

  }

  .token__info-text {
    font-size: 22px;
    line-height: 29px;
  }

  .token__info-wrapper {
    padding-left: 18px;
  }

  .token__info {
    background-color: @top-color;
    padding-top: 26px;
    padding-bottom: 55px;
    margin-bottom: 83px;
    margin-top: 282px;
  }

  .token__link {
    left: 445px;
    bottom: 323px;
    width: 300px;
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
  }


  .token__info-decor {
    font-size: 85px;
  }

  .token__info-box-bottom {
    margin-top: 10px;
    margin-left: 5px;
  }
}
