.token {
  margin-top: 23px;
  margin-bottom: 16px;
}

.token__schedule-cripto {
  padding-top: 28px;
}

.token__text {
  .text-style ();
  color: @top-color;
  margin-top: 20px;
}
.token__text-mod {
  margin-top: 5px;
}

.token__text-box {
  margin-bottom: 25px;
}
.token__img-pipes {
  margin-top: 15px;
}
.token__info {
  background-color: @top-color;
  padding-bottom: 18px;
}

.token__info-decor {
  font-family: Oswald;
  text-align: center;
  font-size: 90px;
  line-height: 80%;
  font-weight: 400;
  color: @header-color;
  margin-left: 33px;
}

.token__info-text {
  .text-style ();
  color:#ffffff;
  margin-top: 10px;
}
.token__info-box-top {
  padding-top: 20px;
}
.token__info-text-mod {
  margin-top: 5px;
}
